<div class="t-two-half flex full {{include.colour}} {{include.classList}}">
  <div class="t-two-title-float">
    {% if include.titleOne %}
      <div class="wrapper flex">
      <h1 class="text-colour-{{include.textColor}}">{{include.titleOne}} <span class="dot"></span></h1>
      <span class="line"></span>
      <h1 class="text-colour-{{include.textColor}}"><span class="dot"></span>{{include.titleTwo}}</h1>
      </div>
    {% endif %}
  </div>
  <div class="t-half left">
    <div class="inner-wrapper">
      {% if include.subTitle %}
      <div class="center-container">
        <h2 class="text-colour-{{include.textColor}}"><span class="dot"></span>{{include.subTitle }}</h2>
      {% endif %}
      {% if include.sub %}
        <div class="body-text text-colour-{{include.textColor}}">
        <span class="line"></span>  {{include.sub | markdownify }}
        </div>
      {% endif %}
      {% if include.subTitleSplit %}
        <h2 class="text-colour-{{include.textColor}}"><span class="dot"></span>{{include.subTitleSplit}}</h2>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="t-half image">
    {% if include.image %}
      <img src="{{include.image}}">
    {% endif %}
    {% if include.data %}
    <div class="t-data-wrapper">
      <h1 id="partners" class="update-api partners">1222</h1>
      <h2>supply partners in our ecosystem in Kenya</h2>
    </div>
    <div class="t-data-wrapper">
      <h1 id="partners-india" class="update-api partners-india">1222</h1>
      <h2>supply partners in our ecosystem in India</h2>
    </div>
    <div class="t-data-wrapper">
      <h1 id="partners-ethiopia" class="update-api partners-ethiopia">1222</h1>
      <h2>supply partners in our ecosystem in Ethiopia </h2>
    </div>
    {% endif %}
  </div>
</div>
