<div class="t-three" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
  <div class="t-three-top flex {{include.colour}}">
    <div class="wrapper flex">
      <div class="t-half">
        <h1 class="text-colour-{{include.textColor}} t-three-title">{{include.title}}</h1>
      </div>
      <div class="t-half">
        <h3 class="text-colour-{{include.textColor}} t-three-sub">{{include.sub}}</h3>
        <h1 id="countup" class="text-colour-{{include.textColor}} bigNumber t-three-number">{{include.number}}</h1>
        <small class="text-colour-{{include.textColor}} t-three-number">Total number of girls impacted since 2015. Updated yesterday</small>
      </div>
    </div>
  </div>
  <div class="t-three-bottom flex {{include.colourTwo}}">
      <div class="t-two {{include.colourTwo}} left">
        {% include dotodot.html %}
      </div>
      <div class="t-two {{include.colourThree}} right {{include.classList}}">
        <div class="inner-wrapper">
          <h2>{{include.copy}}</h2>
        </div>
      </div>
  </div>
</div>
