<div class="t-three flex {{include.flexList}}">
  <div class="t-three-left {{include.colour}}">
    <div class="t-one {% if include.flexList != 'reverse' %}left{% endif %} {% if include.flexList == 'reverse' %}right{% endif %}">
      <div class="inner-wrapper">
        {% if include.title %}
          <h1 class="text-colour-{{include.textColor}}">{{include.title}}</h1>
        {% endif %}
        {% if include.sub %}
          <h2 class="text-colour-{{include.textColor}}">{{include.sub}}</h2>
        {% endif %}
        {% if include.body %}
          {{include.body | markdownify}}
        {% endif%}
        {% if include.list %}
          {% for item in include.list %}
            <h2>{{item.Name}}</h2>
            <p>{{item.Description}}</p>
          {% endfor %}
        {% endif%}
      </div>
    </div>
  </div>
  <div class="t-three-right">
    <div class="t-one {{include.colourTwo}} {{include.classList}} {% if include.flexList == 'reverse' %}left{% endif %} {% if include.flexList != 'reverse' %}right{% endif %}">
      {% if include.titleAlt %}
      {% if include.flexList == 'reverse' %}<div class="inner-wrapper">{% endif %}
        <h1>{{include.titleAlt}}</h1>
        {% if include.flexList == 'reverse' %}</div>{% endif %}
      {% endif %}
      {% if include.image %}
        <img src="{{include.image}}">
      {% endif %}
    </div>
    <div class="t-one {{include.colourThree}} {{include.classList}} {% if include.flexList != 'reverse' %}right{% endif %} {% if include.flexList == 'reverse' %}left{% endif %}">
      {% if include.imageTwo %}
        <img src="{{include.imageTwo}}">
      {% endif %}
      {% if include.numbers %}
        {% for number in include.numbers %}
          <div class="inner-wrapper">
            <h2>{{number.Number}} <span>{{number.Text}}</span></h2>
          </div>
        {% endfor %}
      {% endif %}
      {% if include.bodyCopy %}
        <h2>{{include.bodyCopy}}</h2>
      {% endif %}
    </div>
  </div>
</div>
