<div class="dot-wrapper">
  <div class="dot"></div><div class="line"></div><div class="dot"></div>
</div>
<div class="dot-wrapper">
  <div class="line"></div><div class="dot"></div><div class="line"></div>
</div>
<div class="dot-wrapper">
  <div class="dot"></div><div class="line"></div><div class="dot"></div><div class="line"></div><div class="dot"></div><div class="line"></div>
</div>
<div class="dot-wrapper">
<div class="line"></div><div class="dot"></div>
</div>
<div class="dot-wrapper">
  <div class="dot"></div><div class="line"></div><div class="dot"></div><div class="line"></div>
</div><div class="dot-wrapper">
<div class="line"></div><div class="dot"></div>
</div>
<div class="dot-wrapper">
  <div class="dot"></div><div class="line"></div><div class="dot"></div><div class="line"></div><div class="dot"></div><div class="line"></div>
</div>
