<div class="t-one {{include.colour}} {{include.classList}}" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
  <div class="wrapper">
    <div class="story-list">
      {% for story in page.Success-stories %}
        <span><a href="#{{story.Project | slugify}}">{{story.Project}}</a> /</span>
      {% endfor %}
    </div>
    {% for story in page.Success-stories %}
      <div id="{{story.Project | slugify}}" class="success-story-wrapper">
        <h1>{{story.Title}}</h1>
        <h2>{{story.['Intro text']}}</h2>
        {{story.Body | markdownify }}
      </div>
    {% endfor %}
  </div>
</div>
