{% assign Board = page.['Supervisory Board'] %}
{% assign Executives = page.['Chief Executive Officers'] %}
{% assign Directors = page.['Our People'] %}
<div class="t-one {{include.classList}} {{include.colour}} team" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
  <div class="wrapper flex">
    <div class="team-one-container cream">
      <h2 class="teamsTitle">Supervisory Board</h2>
      {% for member in Board %}
        <div class="team-image-wrapper">
          <img src="{{member.Image}}">
        </div>
        <h2>{{member.Name}}</h2>
        <p>{{member.Role}}</p>
        <p>{{member.Description}}</p>
        {% if member.LinkedIn %}
          <small><a href="{{member.LinkedIn}}">Linkedin</a></small>
        {% endif %}
      {% endfor %}
    </div>
    <div class="team-two-container lightBlue">
      <h2 class="teamsTitle">Chief Executive Officers</h2>
      {% for member in Executives %}
        <div class="team-image-wrapper">
          <img src="{{member.Image}}">
        </div>
        <h2>{{member.Name}}</h2>
        <p>{{member.Role}}</p>
        <p>{{member.Description}}</p>
        {% if member.LinkedIn %}
          <small><a href="{{member.LinkedIn}}">Linkedin</a></small>
        {% endif %}
      {% endfor %}
    </div>
    <div class="team-three-container lightCream">
      <h2 class="teamsTitle">Our People</h2>
      {% for member in Directors %}
        <div class="team-image-wrapper">
          <img src="{{member.Image}}">
        </div>
        <h2>{{member.Name}}</h2>
        <p>{{member.Role}}</p>
        <p>{{member.Description}}</p>
        {% if member.LinkedIn %}
          <small><a href="{{member.LinkedIn}}">Linkedin</a></small>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
