<div class="t-two-half flex {{include.colour}}">
  <div class="t-half left testimonial">
    <div class="inner-wrapper">
      {% if include.image %}
        <div class="image-wrapper-quote">
          <img src="{{include.image}}">
        </div>
      {% endif %}
    </div>
  </div>
  <div class="t-half image {{include.colourSplit}} right testimonial">
    <div class="inner-wrapper">
      {% if include.name %}
        <h3>{{include.name }}</h3>
      {% endif %}
      {% if include.sub %}
        <h3>{{include.sub}}</h3>
      {% endif %}
    </div>
  </div>
</div>
