.inner-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;


  @include mq($from: desktop) {
    width: calc(980px / 2);
  }

  @include mq($from: wide) {
    width: calc(1300px / 2);
  }

  .left & {
    @include mq($from: desktop) {
      margin-left: auto;
      margin-right: 0;
      padding-right: spacing(2);
      box-sizing: border-box;
    }
  }

  .right & {
    @include mq($from: desktop) {
      margin-right: auto;
      margin-left: 0;
      padding-left: spacing(2);
      box-sizing: border-box;
    }
  }
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: column-reverse;

    @include mq($from: desktop) {
      flex-direction: row-reverse;
    }
  }

  @include mq($from: desktop) {
    flex-direction: row;
  }
}

.t-three-top {
  width: 100%;
  min-height: 40vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.t-three-left, .t-three-right  {
  width: 100%;

  @include mq($from: desktop) {
    width: 50%;
  }
}

.t-two {
  width: 100%;
  min-height: 40vh;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;


  @include mq($from: desktop) {
    width: 50%;
  }
}

.t-one {
  width: 100%;
  min-height: 40vh;

  &.image {
    max-height: 40vh;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.t-half {
  width: 100%;
  position: relative;

  @include mq($from: desktop) {
    width: 50%;
  }

  h1 {
    z-index: 10;
    position: relative;
  }

  &.image {
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
}

.full {
  position: relative;

  @include mq($from: desktop) {
  min-height: 90vh;
  }

  .t-one__diagram-wrapper {
    @include mq($from: desktop) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: calc(1300px - 30px);
    }
  }

  .t-one__description-wrapper {
    @include mq($from: desktop) {
      position: absolute;
      bottom: spacing(1);
    }
  }
}

//block specific
.t-one__diagram-wrapper {
  svg {
    width: 100%;
    height: auto;
  }
}

.t-one__description-wrapper {
  width: 33%;
}

//classList

.ecoSystem {
  h3 {
    text-align: center;
    font-size: map-get($font-scale, 10);
  }
}

.bigNumber {
  font-size: map-get($font-scale, 10);
  line-height: 1;
  letter-spacing: -5px;
  font-weight: 100;

  @include mq($from: desktop) {
    font-size: map-get($font-scale, 11);
    line-height: 1;
  }

  @include mq($from: wide) {
    font-size: map-get($font-scale, 12);
    line-height: 1;
  }
}

@keyframes line {
  0% {
    width: 100%;
  }
  20% {
    width: 500px;
  }
  40% {
    width: 100px;
  }
  50% {
    width: 60px;
  }
  60% {
    width: 300px;
  }
  80% {
    width: 235px;
  }
  100% {
    width: 100%;
  }
}

@keyframes widthIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.dot-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .dot {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    background-color: $darkBlue;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .line {
    height: 15px;
    width: 0;
    background-color: $darkBlue;
    margin-top: 12px;
    will-change: transform;
    animation-name: widthIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &.animate {
      animation-name: line;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  }
}
