.padd {
  padding-top: 77px;
}

#fullpage {
  padding-top: 77px;
}

.fp-slidesNav.fp-bottom {
  width: max-content;
}

.fp-slidesNav ul li a span {
  background-color: #fff;
}

.section {
  max-height: 410px !important;

  @include mq($from: desktop) {
    max-height: 690px !important;
  }
}

.section:not(.carousel) {
  height: auto !important;
}
.fp-tableCell {
  height: auto !important;
}

.inner-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include mq($from: desktop) {
    width: calc(980px / 2);
  }

  @include mq($from: wide) {
    width: calc(1300px / 2);
  }

  .left & {
    @include mq($from: desktop) {
      margin-left: auto;
      margin-right: 0;
      padding-right: spacing(2);
      box-sizing: border-box;
    }
  }

  .right & {
    @include mq($from: desktop) {
      margin-right: auto;
      margin-left: 0;
      padding-left: spacing(3);
      padding-top: spacing(2);
      box-sizing: border-box;
    }
  }

  &.values {
    padding-top: spacing(2);
    padding-left: spacing(3);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: column-reverse;

    @include mq($from: desktop) {
      flex-direction: row-reverse;
    }
  }

  @include mq($from: desktop) {
    flex-direction: row;
  }
}

.t-three-top {
  width: 100%;
  min-height: 40vh;
  padding-bottom: 20px;

  .t-half {
    min-height: auto;

    @include mq($from: desktop) {
      min-height: inherit;
    }
  }
}

.t-three-left, .t-three-right  {
  width: 100%;
  position: relative;

  @include mq($from: desktop) {
    width: 50%;
  }
}

.t-three-title {
  margin-top: 20px;
}

.t-three-sub-title {
  margin-top: spacing(2);

  @include mq($from: desktop) {
    margin-top: spacing(5);
  }
}

.t-three-sub, .t-three-number {
  @include mq($from: desktop) {
    margin-left: spacing(7);
  }
}

.t-one.lightBlue.image.left {
  padding-bottom: 10px;
}

.t-one.green.image.values.left {
  padding-bottom: 10px;
  min-height: 230px;
}

.t-two {
  width: 100%;
  min-height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  @include mq($from: desktop) {
    width: 50%;
    min-height: 40vh;
  }

  &.left {
    z-index: 100;

    @include mq($from: desktop) {
      .dot-wrapper {
        &:nth-child(1) {
          width: 140%;
        }
        &:nth-child(2) {
          width: 110%;
        }
        &:nth-child(3) {
          width: 80%;
        }
        &:nth-child(4) {
          width: 111%;
        }
        &:nth-child(6) {
          width: 70%;
        }
        &:nth-child(7) {
          width: 130%;
        }
      }
    }
  }
}

@keyframes dotFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lineWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.t-two-title-float {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 32%;
  transform: translateY(-50%);
  text-align: center;

  @include mq($from: desktop) {
    text-align: left;
    top: 50%;
  }

  .flex {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  h1 {
    white-space: nowrap;
    color: #fff;
    opacity: 0;
    animation-name: dotFade;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    .dot {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #fff;
      display: none;
      margin-top: -20px;
      margin-right: 10px;
      transform: translateY(-15px);
      opacity: 0;
      animation-name: dotFade;
      animation-duration: 1s;
      animation-fill-mode: forwards;

      @include mq($from: desktop) {
        display: inline-block;
      }
    }

    &:nth-child(1) {
      .dot {
        background-color: #fff;
      }
    }
    &:nth-child(3) {
      animation-name: dotFade;
      animation-delay: 1.5s;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      .dot {
        background-color: #fff;
        animation-delay: 2s;
      }
    }
  }

  .line {
    height: 16px;
    background-color: #fff;
    width: 0;
    margin-right: 10px;
    margin-top: 0px;
    animation-name: lineWidth;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-delay: 1s;
    margin-bottom: 8px;

    @include mq($from: desktop) {
      margin-top: 29px;
      margin-bottom: 0;
    }
    @include mq($from: wide) {
      margin-top: 47px;
      margin-bottom: 0;
    }
  }
}

.t-one {
  width: 100%;
  min-height: auto;
  padding-bottom: 10px;
  height: auto;

  @include mq($from: desktop) {
    min-height: 40vh;
    height: 40vh;
  }

  &.team {
    padding-bottom: 0;
  }

  &.carousel {
    height: 100%;
    min-height: 100%;
  }

  .section-title {
    padding-top: spacing(2);
    font-weight: 700;
  }

  .section-title-centre {
    padding-top: spacing(1);
  }

  .t-body {
    margin-top: spacing(2);
    @include mq($from: desktop) {
      margin-top: spacing(4);
      margin-left: spacing(4);
    }
  }

  &.impact {

    h2 {
      padding-top: spacing(2);
    }

    p {
      line-height: 1.2;
      font-size: map-get($font-scale, 1);

      @include mq($from: desktop) {
        font-size: map-get($font-scale, 2);
      }
    }
  }

  &.flexWrapper {
    padding-bottom: spacing(2);

    .wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include mq($from: desktop) {
        flex-direction: row;
      }

      h3 {
        width: 100%;
        font-size: map-get($font-scale, 4);
        line-height: 1;
        font-weight: 400;

        @include mq($from: desktop) {
          width: 50%;
          font-size: map-get($font-scale, 5);
        }

        @include mq($from: wide) {
          font-size: map-get($font-scale, 10);
        }
      }

      .t-one__description-wrapper {
        width: 100%;
        padding-right: 8%;
        box-sizing: border-box;
        padding-top: spacing(4);

        @include mq($from: desktop) {
          width: 50%;
        }

        h3 {
          font-size: map-get($font-scale, 1);
          line-height: 1.2;
          width: 100%;
          margin-top: spacing(-2);

          @include mq($from: desktop) {
            font-size: map-get($font-scale, 2);
          }
        }

        p {
          font-size: map-get($font-scale, 0);
          line-height: 1.2;

          @include mq($from: desktop) {
            font-size: map-get($font-scale, bigpar);
          }
        }
      }
    }
  }

  &.team {
    height: auto;
  }

  &.impact.cream {
    @include mq($until: tablet) {
      padding-bottom: 10px;

      h2 {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &.image {
    padding-bottom: 0;

    @include mq($from: desktop) {
      max-height: 40vh;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &.whatWeDoImage {
      img {
        object-position: top;
      }
    }
  }
}

.t-half {
  width: 100%;
  position: relative;
  min-height: 50vh;

  @include mq($from: desktop) {
    width: 50%;
    min-height: inherit;
  }

  h1 {
    z-index: 10;
    position: relative;
  }

  &.image {
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }

  &.testimonial {
    @include mq($until: tablet){
      min-height: auto;
    }

    .name {
      margin-top: spacing(1);
    }
  }

  h3 {
    @include mq($from: desktop) {
      margin-top: spacing(4);
      margin-bottom: spacing(0);
    }
  }
}

.centerTitle {
  .t-half {
    &:nth-child(1){
        h1 {

        }
    }
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
    }
  }

}

.full {
  position: relative;
  min-height: 60vh;

  @include mq($from: desktop) {
  min-height: 90vh;
  }

  .t-one__diagram-wrapper {
    display: none;
    @include mq($from: desktop) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: calc(980px - 30px);
      display:block;
    }

    @include mq($from: wide) {
      width: 100%;
      max-width: calc(1300px - 30px);
    }
  }

  .t-one__description-wrapper {
    @include mq($from: desktop) {
      position: absolute;
      bottom: spacing(3);
    }
  }
}

//block specific
.t-one__diagram-wrapper {
  svg {
    width: 100%;
    height: auto;
  }
}

.t-one__description-wrapper {
  width: 100%;
  @include mq($from: desktop) {
    width: 33%;
  }
}

//classList

.centred-data {
  @include mq($from: desktop) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -200;
  }
}

.map {
  h2 {
    max-width: 620px;

    @include mq($until: tablet) {
      font-size: map-get($font-scale, bigpar);
    }
  }

  .key {
    width: 100%;
    border-top: 1px solid $darkBlue;
    display: flex;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: spacing(2);
    flex-direction: column;

    @include mq($from: desktop) {
      flex-direction: row;
      padding-bottom: spacing(10);
    }

    ul {
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;

      @include mq($from: desktop) {
        flex-direction: row;
      }

      &.line-key {
        li {
          color: $darkBlue;

          &:before {
            background-color: $blue;
            border-radius: 0;
            width: 40px;
          }

          &:nth-child(2) {

            &:before {
              background-color: transparent;
              border-bottom: 6px dashed $blue;
              border-top: 6px dashed $blue;
              height: 0px
            }
          }
        }
      }
    }

    li {
      margin: 0;
      padding: 0;
      line-height: 1.2;
      margin-right: 10px;
      color: $pink;

      &:before {
        width: 12px;
        height: 12px;
        background-color: $pink;
        display: inline-block;
        content: '';
        margin-right: 2px;
        border-radius: 50%;
      }

      &:nth-child(2) {
        color: $orange;

        &:before {
          background-color: $orange;
        }
      }

      &:nth-child(3) {
        color: $green;

        &:before {
          background-color: $green;
        }
      }

      &:nth-child(4) {
        color: #fff;

        &:before {
          background-color: $blue;
        }
      }

      &:nth-child(5) {
        color: $green;

        &:before {
          background-color: $green;
        }
      }
      &:nth-child(6) {
        color: $lightBlue;

        &:before {
          background-color: $lightBlue;
        }
      }
    }
  }
}

.autoHeight {
  height: auto !important;
}

.resources {
  padding-top: spacing(2);
  padding-bottom: spacing(8);

  h2 {
    margin-bottom: spacing(4);
  }
}

.success-stories {
  padding-bottom: 20px;
}

.ecoSystem {
  height: auto;

  .ecosystem-map {
    position: relative;
    height: 290px;
    max-height: 90vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    @include mq($from: desktop) {
      height: 430px;
      margin-top: spacing(4);
    }

    @include mq($from: wide) {
      height: 600px;
    }

    svg {
      position: absolute;
      top: 0;
      width: 160%;
      height: auto;
      left: 50%;
      transform: translateX(-50%);

      @include mq($from: desktop) {
        height: auto;
        width: 80%;
      }
    }
  }

  svg {
    display:block;
    opacity: 0;
  }

  h3 {
    text-align: center;
    font-size: map-get($font-scale, 3);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: spacing(3);

    @include mq($from: desktop) {
      width: 80%;
    }
  }

  .key {
    width: 100%;
    border-top: 1px solid $darkBlue;
    display: flex;
    margin-top: spacing(3);
    padding-top: spacing(1);
    padding-bottom: spacing(5);
    flex-direction: column;

    @include mq($from: desktop) {
      flex-direction: row;
      padding-bottom: spacing(10);
    }

    ul {
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;

      @include mq($from: desktop) {
        flex-direction: row;
      }

      &.line-key {
        li {
          color: $darkBlue;

          &:before {
            background-color: $blue;
            border-radius: 0;
            width: 40px;
          }

          &:nth-child(2) {

            &:before {
              background-color: transparent;
              border-bottom: 6px dashed $blue;
              border-top: 6px dashed $blue;
              height: 0px
            }
          }
        }
      }
    }

    li {
      margin: 0;
      padding: 0;
      line-height: 1.2;
      margin-right: 10px;

      &:before {
        width: 12px;
        height: 12px;
        background-color: $darkBlue;
        display: inline-block;
        content: '';
        margin-right: 2px;
        border-radius: 50%;
      }

      &:nth-child(2) {
        color: $pink;

        &:before {
          background-color: $pink;
        }
      }

      &:nth-child(3) {
        color: $yellow;

        &:before {
          background-color: $yellow;
        }
      }

      &:nth-child(4) {
        color: $orange;

        &:before {
          background-color: $orange;
        }
      }

      &:nth-child(5) {
        color: $green;

        &:before {
          background-color: $green;
        }
      }
      &:nth-child(6) {
        color: $lightBlue;

        &:before {
          background-color: $lightBlue;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@for $i from 1 through 6 {
  .ecoSystem .ecosystem-map.display svg:nth-child(#{$i}) {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: $i * 0.5s;
  }
}

.ecosystem-map svg.dash {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 3s;
}

.ecoSystem .ecosystem-map.display svg.dash {
  opacity: 1;
  animation: dash 9s linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

.center {
  position: relative;

  h2 {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @include mq($from: desktop) {
      width: 75%;
      text-align: left;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.bigNumber {
  font-size: map-get($font-scale, 10);
  line-height: 1;
  letter-spacing: -5px;
  font-weight: 100;

  @include mq($from: desktop) {
    font-size: map-get($font-scale, 10);
    line-height: 1;
  }

  @include mq($from: wide) {
    font-size: map-get($font-scale, 12);
    line-height: 1;
  }
}

@keyframes line {
  0% {
    width: 100%;
  }
  20% {
    width: 500px;
  }
  40% {
    width: 100px;
  }
  50% {
    width: 60px;
  }
  60% {
    width: 300px;
  }
  80% {
    width: 235px;
  }
  100% {
    width: 100%;
  }
}

@keyframes widthIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.dot-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .dot {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    background-color: $darkBlue;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .line {
    height: 15px;
    width: 0;
    background-color: $darkBlue;
    margin-top: 12px;
    will-change: transform;
    animation-name: widthIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &.animate {
      animation-name: line;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  }
}

.testimonial {
  padding-top: spacing(5);
  padding-bottom: spacing(5);

  h4 {
    margin-bottom: 0;
  }

  .nameSplit {
    margin-bottom: spacing(1.5);
    color: #fff;
  }
}

.image-wrapper-quote {
  height: 50vw;
  width: 50vw;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

  @include mq($from: desktop) {
    height: 20vw;
    width: 20vw;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes hover{
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  75% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.team-one-container, .team-two-container, .team-three-container {
  width: 100%;
  max-height: auto;
  overflow: visible;
  padding-top:spacing(2);
  text-align: center;
  padding-bottom: spacing(5);

  @include mq($from: desktop) {
    width: 33.3%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90vh;
  }

  &:hover {
    svg {
      animation-name: hover;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &.noanimate {
        animation: unset;
      }
    }
  }

  svg {
    max-width: 40px;
    height:auto;
    margin-top: spacing(3);
    margin-bottom: spacing(3);

    &.noanimate {
      path {
        fill: $darkBlue;
      }
    }
  }

  h2, p {
    margin: 0;
    line-height: 1;
    font-size: map-get($font-scale, 1);
  }

  p {
    font-size: map-get($font-scale, small);
    line-height: 1.2;
    padding-left: spacing(8);
    padding-right: spacing(8);
    margin-top: spacing(1);

    @include mq($from: desktop) {
      font-size: map-get($font-scale, 0);
    }
  }

  h2.teamsTitle {
    font-size: map-get($font-scale, bigpar);
  }

  h2 {
    font-size: map-get($font-scale, 1);
  }

  .team-image-wrapper {
    height: 42vw;
    width: 42vw;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: spacing(3);
    margin-bottom: spacing(3);

    @include mq($from: desktop) {
      height: 12vw;
      width: 12vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.what-we-do {
  .center-container {
    position: relative;
    padding-top: 10px;

    @include mq($from: desktop) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-top: 0;
    }
  }
  h2 {
    padding-left: 30px;

    .dot {
      width: 30px;
      height: 30px;
      background-color: $darkBlue;
      border-radius: 50%;
      display: inline-block;
      margin-left: -30px;
      margin-right: 19px;

      @include mq($from: desktop) {
        margin-left: -49px;
        margin-right: 19px;
      }
    }
  }
}

.body-text {
  position: relative;
  padding-left: 50px;
  box-sizing: border-box;
  max-width: 90%;

  @include mq($from: desktop) {
    padding-left: 30px;
  }

  .line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 10px;
    background-color: $darkBlue;

    @include mq($from: desktop) {
      left: -10px;
    }
  }
}

.t-rescources-wrapper {
  .report-cover {
    width: 100%;
    background-color: $blue;
    margin-right: 1%;
    box-sizing: border-box;
    padding: 10px;
    min-height: 400px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }

    .one, .two, .three, .four {
      display: none;
    }

    &:nth-child(1) {
      .one {
        display: block;
      }
    }

    &:nth-child(2) {
      background-color: $yellow;

      .two {
        display: block;
        width: 93%;
      }

      h2, h3 {
        color: $darkBlue;
      }
    }

    &:nth-child(3) {
      background-color: $pink;

      .three {
        display: block;
        left: 50%;
        transform: translateX(-50%);
      }

      h2, h3 {
        color: $darkBlue;
      }
    }
    &:nth-child(4) {
      background-color: $green;

      .four {
        display: block;
        left: 50%;
        bottom: 22%;
        transform: translate(-50%, -50%);
      }

      h2, h3 {
        color: $darkBlue;
      }
    }

    @include mq($from: desktop) {
      width: 24%;
    }

    svg {
      position: absolute;
      bottom: spacing(2);
    }

    h2, h3 {
      color: $pink;
      margin-bottom: 0;
      font-size: map-get($font-scale, 2);
      line-height: 1;
    }

    h3 {
      margin-bottom: spacing(2);
      font-weight: 200;
      margin-top: spacing(2);
    }
  }
}

@keyframes impact{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.impact-header {
  svg {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;

    path {
      animation-name: opacity;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 8s;
    }

    circle {
      will-change: transform;

      &:nth-child(2n+2) {
        animation-name: impact;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 3s;
      }

      &:nth-child(2) {
        animation-name: impact;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 10s;
        animation-delay: 1s;
      }

      &:nth-child(3n+3) {
        animation-name: impact;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 6s;
        animation-delay: 2s;
      }

      &:nth-child(6n+6) {
        animation-name: impact;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 5s;
        animation-delay: 1s;
      }
    }
  }
}

.about-us-lines {
  width: 100%;

  @include mq($from: desktop) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .dot {
    background-color: $lightBlue;
  }

  .line {
    background-color: $lightBlue;
  }
}

.numbers {
  padding-bottom: 20px;
  text-align: center;

  @include mq($from: desktop) {
    padding-bottom: 0;
    text-align: left;
    padding-top: 0 !important;
  }

  h2 {
    font-size: map-get($font-scale, 4);
    margin: 0;
    font-weight: 400;

    span {
      font-size: map-get($font-scale, 2);
      display: block;
      margin-bottom: 10px;

      @include mq($from: desktop) {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
}

.impact-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;

  @include mq($until: tablet) {
    width: 90%;
  }

  h1 {
    color: $lightBlue;
    font-size: 15vw;
    font-weight: 100;

    @include mq($from: desktop) {
      font-size: map-get($font-scale, 12);
    }
  }

  h2 {
    font-weight: 600;
  }

  h2, h3 {
    color: $lightBlue;
    font-size: map-get($font-scale, 1);
    margin: 0;
  }
}

.t-data-wrapper {

  h1 {
    font-size: 15vw;
    font-weight: 100;
    @include mq($from: desktop) {
      font-size: map-get($font-scale, 5);
    }

    @include mq($from: wide) {
      font-size: map-get($font-scale, data);
    }

    &:nth-child(1) {
      margin-top: spacing(1);
    }

    &:nth-child(2) {
      margin-top: spacing(1);
    }
    &:nth-child(3) {
      margin-top: spacing(1);
    }
  }

  .flex {
    margin-bottom: spacing(2);
    div {
      min-width: 33%;
      border-left: 1px solid $darkBlue;

      h1 {
        margin-left: 5px;
      }

      h2 {
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
  }

  h2{
    font-size: map-get($font-scale, 1);
    margin: 0;
    margin-bottom: spacing(2);
    width: 75%;
    margin-left: 0;
    padding-left: 0;
  }
}

.story-list {
  padding-bottom: 20px;
  padding-top: 20px;
  position: sticky;
  top: 70px;
  background-color: #fff;
  border-bottom: 1px solid $darkBlue;
  z-index: 100;

  a {
    color: $darkBlue;
  }
}

.success-story-wrapper {
  position: relative;
  border-bottom: 1px solid $darkBlue;
  padding-bottom: spacing(6);

  ul, ol {
    margin: 0;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  h1, h2, p, ul, ol {
    max-width: 600px;
  }

  img {
    width: 100%;
    height: auto;
    margin-top: spacing(2);
    margin-bottom: spacing(2);
  }

  h1 {
    font-size: map-get($font-scale, 3);
    margin-bottom: spacing(4);

    @include mq($from: desktop) {
      font-size: map-get($font-scale, 4);
    }
  }
  h2 {
    font-size: map-get($font-scale, bigpar);
    margin-bottom: spacing(4);

    @include mq($from: desktop) {
      font-size: map-get($font-scale, 2);
    }
  }
  p {
    font-size: map-get($font-scale, 1);

    strong {
      display: block;
    }
  }
}

.journal {
  padding-bottom: 20px;
}

.journal-wrapper {
  flex-wrap: wrap;
  margin-top: spacing(4);

  .t-journal {
    background-color: #fff;
    padding: 10px;
    width: calc(100% - 20px);
    margin-right: 1%;
    margin-bottom: 13px;

    @include mq($from: desktop) {
      width: 22%;
    }

    .t-journal-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      margin-top: 50px;
      background-color: $lightBlue;
    }
  }
}

.jobs {
  padding-top: spacing(4);
  padding-bottom: spacing(4);

  .jobs-intro {
    max-width: 100%;

    @include mq($from: desktop) {
      max-width: 48%;
      margin-right: 2%;
    }
  }

  .job {
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    transition: transform ease-in-out 0.2s;

    @include mq($from: desktop) {
      width: 24%;
      margin-right: 1%;
    }

    &:hover {
      transform: scale(1.02);
    }

    h3 {
      font-size: map-get($font-scale, 2);
      line-height: 1;
      margin: 0;

      @include mq($from: desktop) {
        font-size: map-get($font-scale, 1);
      }

      @include mq($from: wide) {
        font-size: map-get($font-scale, 2);
      }

      &.location {
        opacity: 0.5;
        margin-bottom: spacing(2);
        margin-top: spacing(2);
        font-size: map-get($font-scale, 0);
      }
    }
  }

  h1 {
    font-size: map-get($font-scale, 5);
  }
}

@keyframes height {
  0% {
    top: 8px;
    bottom: 36px;
  }
  50% {
    top: 8px;
    bottom: -24px;
  }
  100% {
    top: 88px;
    bottom: -24px;
  }
}

.safeguarding {
  p {
    position: relative;

    &:before {
      height: 20px;
      width: 20px;
      background-color: $blue;
      border-radius: 50%;
      content: '';
      display: block;
      float: left;
      margin-left: 0px;
      margin-right: 10px;
      margin-top: 6px;
      margin-bottom: 20px;
      position: relative;
      z-index: 10;

      @include mq($from: desktop) {
        margin-left: -30px;
        margin-bottom: 0;
      }
    }
    &:after {
      position: absolute;
      top: 8px;
      bottom: 36px;
      width: 8px;
      background-color: $pink;
      content: '';
      display: block;
      left: 6px;
      z-index: 0;
      animation-name: height;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;

      @include mq($from: desktop) {
        left: -24px;
      }
    }

    &:nth-child(2) {
      &:after {
        animation-delay: 1s;
      }
    }

    &:nth-child(3) {
      &:after {
        display: none;
      }
    }
  }
}

.contact-form {
  padding-bottom: spacing(4);
  width: 100%;

  @include mq($from: desktop) {
    width: 45%;
  }

  input {
    display: block;
    width: 92%;
    max-width: 600px;
    padding: 10px;
    font-family: $base-font-family;
  }
  textarea {
    display: block;
    width: 92%;
    max-width: 600px;
    padding: 10px;
    font-family: $base-font-family;
    margin-bottom: spacing(2);
  }
}

.addresses {
  width: 100%;

  @include mq($from: desktop) {
    width: 50%;
    margin-left: auto;
  }

  p {
    max-width: 40%;
  }
}
