.inner-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include mq($from: desktop) {
    width: calc(980px / 2);
  }

  @include mq($from: wide) {
    width: calc(1300px / 2);
  }

  .left & {
    @include mq($from: desktop) {
      margin-left: auto;
      margin-right: 0;
      padding-right: spacing(2);
      box-sizing: border-box;
    }
  }

  .right & {
    @include mq($from: desktop) {
      margin-right: auto;
      margin-left: 0;
      padding-left: spacing(2);
      box-sizing: border-box;
    }
  }
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include mq($from: desktop) {
    flex-direction: row;
  }
}

.t-three-top {
  width: 100%;
  min-height: 50vh;
}

.t-three-left, .t-three-right  {
  width: 100%;

  @include mq($from: desktop) {
    width: 50%;
  }
}

.t-two {
  width: 100%;
  min-height: 50vh;

  @include mq($from: desktop) {
    width: 50%;
  }
}

.t-one {
  width: 100%;
  min-height: 50vh;
  padding-top: spacing(2);
}

.t-half {
  width: 50%;
}

.full {
  position: relative;

  @include mq($from: desktop) {
    height: 90vh;
  }

  .t-one__diagram-wrapper {
    @include mq($from: desktop) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: calc(1300px - 30px);
    }
  }

  .t-one__description-wrapper {
    @include mq($from: desktop) {
      position: absolute;
      bottom: spacing(1);
    }
  }
}

//block specific
.t-one__diagram-wrapper {
  svg {
    width: 100%;
    height: auto;
  }
}

.t-one__description-wrapper {
  width: 33%;
}

//classList

.ecoSystem {
  h3 {
    text-align: center;
  }
}
