$darkBlue: #1D214F;
$lightBlue: #D0DEED;
$blue: #2C449C;
$yellow: #FDDE5A;
$lightYellow: #FDDE5A;
$orange: #F6915F;
$green: #6EBA70;
$purple: #742F8D;
$cream: #FEEBE8;
$lightCream: #FDEBCB;
$pink: #D8A0C8;
$grey: #f6f6f6;

.blue {
  background-color: $blue;
}

.yellow {
  background-color: $yellow;
}

.green {
  background-color: $green;
}

.grey {
  background-color: $grey;
}

.lightBlue {
  background-color: $lightBlue;
}

.darkBlue {
  background-color: $darkBlue;
}

.purple {
  background-color: $purple;
}

.cream {
  background-color: $cream;
}

.pink {
  background-color: $pink;
}

.lightCream {
  background-color: $lightCream;
}

.text-colour-lightBlue, {
  color: $lightBlue;

  P {
    color: $lightBlue;
  }
}

.text-colour-lightYellow {
  color: $lightYellow;

  p {
    color: $lightYellow;
  }
}

.text-colour-darkBlue {
  color: $darkBlue;

  p{
    color: $darkBlue;
  }
}

.text-colour-cream {
  color: $cream;
  p {
    color: $cream;
  }
}

.button-colour-darkBlue {
  color: $darkBlue;
  border-color: $darkBlue;
}

.button-colour-lightYellow {
  color: $lightYellow;
  border-color: $lightYellow;
}

.button-colour-lightBlue {
  color: $lightBlue;
  border-color: $lightBlue;
}
