$font-scale: (
    12: 140px,
    11: 120px,
    data: 110px,
    10: 90px,
    5: 70px,
    4: 50px,
    3: 40px,
    2: 30px,
    bigpar: 25px,
    1: 20px,
    0: 17px,
    small: 15px
);

h1 {
  font-size: map-get($font-scale, 4);
  line-height: 1;

  @include mq($from: desktop) {
    font-size: map-get($font-scale, 10);
    line-height: 1;
  }
}

h2 {
  font-size: map-get($font-scale, 2);
  line-height: 1.2;

  @include mq($from: desktop) {
    font-size: map-get($font-scale, 3);
  }
}

h3 {
  font-size: map-get($font-scale, 2);
  line-height: 1.2;
}

h4 {
  font-size: map-get($font-scale, bigpar);
  line-height: 1.2;
}

p {
  font-size: map-get($font-scale, small);
  line-height: 1.4;
  @include mq($from: wide) {
    font-size: map-get($font-scale, 0);
  }
}
