$darkBlue: #1D214F;
$lightBlue: #D0DEED;
$blue: #2C449C;
$yellow: #FDDE5A;
$lightYellow: #FDDE5A;
$green: #6EBA70;
$purple: #742F8D;
$cream: #FEEBE8;

.blue {
  background-color: $blue;
}

.yellow {
  background-color: $yellow;
}

.green {
  background-color: $green;
}

.lightBlue {
  background-color: $lightBlue;
}

.darkBlue {
  background-color: $darkBlue;
}

.purple {
  background-color: $purple;
}

.cream {
  background-color: $cream;
}

.text-colour-lightBlue {
  color: $lightBlue;
}

.text-colour-lightYellow {
  color: $lightYellow;
}

.text-colour-darkBlue {
  color: $darkBlue;
}
