---
layout: default
---

{% assign title = page.content %}
{% assign body = page.Header-Text %}
{% assign number = page.Home-number %}
{% assign SubTitle = page.Home-number-text %}
{% include 3up.html title=title copy=body number=number sub=SubTitle colour="blue" colourTwo="cream" colourThree="green" textColor="lightBlue"%}
{% assign sectionTitle = "Our Model" %}
{% assign diagram = page.Our-Model[0].Diagram %}
{% assign ModelDescription = page.Our-Model[0].Description %}
{% assign diagramTwo = page.Our-Model[1].Diagram %}
{% assign ModelDescriptionTwo = page.Our-Model[1].Description %}
{% assign diagramThree = page.Our-Model[2].Diagram %}
{% assign ModelDescriptionThree = page.Our-Model[2].Description %}
{% include 1up.html colour="lightBlue" sectionTitle=sectionTitle diagram=diagram description=ModelDescription textColor="darkBlue" classList="full"%}
{% include 1up.html colour="darkBlue" sectionTitle=sectionTitle diagram=diagramTwo description=ModelDescriptionTwo textColor="lightBlue" classList="full"%}
{% include 1up.html colour="purple" sectionTitle=sectionTitle diagram=diagramThree description=ModelDescriptionThree textColor="lightYellow" classList="full"%}
{% include 1up.html colour="cream" sectionTitle=page.Eco-System-Text classList="full ecoSystem" %}
{% assign CTAtitle = page.CTA-Block.Header %}
{% assign CTAsubTitle = page.CTA-Block.Description %}
{% assign CTAimage = page.CTA-Block.CTA-Image %}
{% assign CTAimageTwo = page.CTA-Block.CTA-Image-two %}
{% include 3upHorizontal.html title=CTAtitle sub=CTAsubTitle colour="purple" colourTwo="lightBlue" colourThree="darkBlue" image=CTAimage imageTwo=CTAimageTwo classList="image"%}
