---
layout: default
---

{% assign title = page.Splash-Number-Title %}
{% assign ModelDescription = page.Splash-Number-description %}
{% assign ModelDescription = page.Splash-Number-description %}
{% assign dataDes = page.Data-descriptor %}
{% assign dataImage = page.Data-descriptor-image %}
{% assign successTitle = page.Success-stories-intro %}
{% assign SuccessDescription = page.Success-stories-descriptor %}
{% assign JournalSwitch = page.['Journal Switch'] %}
{% include impact.html
  colour="darkBlue"
  sectionTitle=title
  diagram=diagram
  description=ModelDescription
  textColor="lightBlue"
  classList="full impact-header"
%}
{% include 3upHorizontal.html
  title=CTAtitle
  bodyCopy=dataDes
  colour="lightBlue"
  colourTwo="purple"
  colourThree="cream"
  image=dataImage
  classList="image center impact"
  data="data"
%}
{% include 1up.html
  colour="lightCream"
  sectionTitle=successTitle
  description=SuccessDescription
  textColor="darkBlue"
  classList="flexWrapper autoHeight"
%}
{% include success.html
  colour="white"
  textColor="darkBlue"
  classList="autoHeight success-stories"
%}
{% if JournalSwitch != "False" %}
{% include journal.html
  colour="lightCream"
  textColor="darkBlue"
  classList="autoHeight journal"
%}
{% endif %}
