---
layout: default
---

{% assign title = page.Title | split: "|" %}
{% assign titleOne = title[0] %}
{% assign titleTwo = title[1] %}
{% assign image = page.Splash-image %}
{% assign quote = page.Testimonial[0].Quote %}
{% assign testImage = page.Testimonial[0].Image %}
{% assign testImageTwo = page.Testimonial-two[0].Image %}
{% assign quoteTwo = page.Testimonial-two[0].Quote %}
{% assign values = page.Values %}
{% assign ValuesImage = page.['Values animation image']%}
{% assign nameOne = page.Testimonial[0].Name %}
{% assign nameTwo = page.Testimonial-two[0].Name %}
{% include 2up.html
  colour="darkBlue"
  titleOne=titleOne
  titleTwo=titleTwo
  textColor="lightBlue"
  image=image
  classList="padd centerTitle"
%}
{% include testimonial.html
  colour="lightBlue"
  sub=quote
  textColor="lightBlue"
  colourSplit="pink"
  image=testImage
  name=nameOne
%}
{% include jobs.html
  colour="cream"
  textColor="lightBlue"
  classList="jobs autoHeight"
%}
{% include 3upHorizontal.html
  list=values
  colour="white"
  imageTwo=ValuesImage
  titleAlt=SupportingTitle
  colourTwo="green"
  colourThree="darkBlue"
  classList="image values"
  flexList="reverse"
  titleAlt="Our Values"
%}
{% include testimonial.html
  colour="lightBlue"
  sub=quoteTwo
  name=nameTwo
  textColor="lightBlue"
  colourSplit="pink"
  image=testImageTwo
%}
