---
layout: default
---

{% assign title = page.title %}
{% assign content = page.content %}
{% include 1up.html colour="cream" sectionTitle=title description=content classList="flexWrapper padd" %}

<div class="t-one {{include.colour}} autoHeight success-stories padd simple {% if page.title == "Privacy Policy" %}privacy{% endif %}" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
  <div class="wrapper {% if page.title == "Contact" %} flex {% endif %}">
    {% if page.title == "Contact" %}
    <div class="contact-form">
      <h2>Let's talk</h2>
      <form action="https://getform.io/f/f3bb2658-4887-444d-ae96-b092c41d12e0" method="POST">
        <label>Name</label>
        <input type="text" name="name">
        <label>Email address</label>
        <input type="email" name="email">
        <label>Message</label>
        <textarea type="text" name="message"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="addresses">
      <h2>Our locations</h2>
      <div class="address-wrapper">
      {% for Address in page.Addresses %}
          {{Address.Address | markdownify }}
      {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if page.title == "Privacy Policy" %}
    <div class="story-list">
        <span><a href="#English">English</a> /</span>
        <span><a href="#Swahili">Swahili</a> /</span>
    </div>
    {% endif %}
    {% if page.title != "Contact" %}
    <div class="success-story-wrapper">
      {% if page.title == "Privacy Policy" %}<h2 id="English">English</h2>{% endif %}
      {{page.Body | markdownify }}

      {% if page.title == "Privacy Policy" %}
      <hr></hr>
      <h2 id="Swahili">Swahili</h2>
        {{page.['Privacy Policy - Swahili Description'] | markdownify }}
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
