---
layout: default
---

{% assign title = page.Title | split: "|" %}
{% assign titleOne = title[0] %}
{% assign titleTwo = title[1] %}
{% assign image = page.Splash-image %}
{% assign imageSectionTwo = page.['Supporting two Image'] %}
{% assign imageSectionThree = page.['Supporting three Image'] %}
{% assign imageSectionFour = page.['Supporting four Image'] %}
{% assign supportingTitle = page.Supporting-title %}
{% assign description = page.Description %}
{% assign Supportingimage = page.Supporting-image %}
{% assign SupportingTitle = page.Supporting-title %}

{% assign sectionOneTitle = page.What-section-one-title | split: "|" %}
{% assign SubTitleOne = sectionOneTitle[0] %}
{% assign SubTitleTwo = sectionOneTitle[1] %}
{% assign DescriptionOne = page.What-section-one-description%}

{% assign sectionTwoTitle = page.What-section-two-title | split: "|" %}
{% assign SubTitleThree = sectionTwoTitle[0] %}
{% assign SubTitleFour = sectionTwoTitle[1] %}
{% assign DescriptionTwo = page.What-section-two-description %}

{% assign sectionTheeTitle = page.What-section-three-title | split: "|" %}
{% assign SubTitleFive = sectionTheeTitle[0] %}
{% assign SubTitleSix = sectionTheeTitle[1] %}
{% assign DescriptionThree = page.What-section-three-description %}

{% assign summaryTitle = page.Summary-title %}
{% assign summaryCopy = page.Summarty-text %}

{% include 2up.html colour="darkBlue" titleOne=titleOne titleTwo=titleTwo textColor="lightBlue" image=image classList="padd centerTitle" %}
{% include 3upHorizontal.html body=description colour="pink" imageTwo=Supportingimage titleAlt=SupportingTitle colourTwo="lightBlue" colourThree="darkBlue" classList="image" flexList="reverse" %}
{% include 2up.html colour="lightCream" textColor="darkBlue" image=imageSectionTwo subTitle=SubTitleOne subTitleSplit=SubTitleTwo sub=DescriptionOne  classList="what-we-do" %}
{% include 2up.html colour="pink" textColor="darkBlue" image=imageSectionThree subTitle=SubTitleThree subTitleSplit=SubTitleFour sub=DescriptionTwo classList="what-we-do"%}
{% include 2up.html colour="lightBlue" textColor="darkBlue" image=imageSectionFour subTitle=SubTitleFive subTitleSplit=SubTitleSix sub=DescriptionThree classList="what-we-do"%}
{% include 1up.html colour="cream" sectionTitle=summaryTitle description=summaryCopy classList="flexWrapper" %}
